# deps
node_modules/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# tests
coverage/
playwright-report/
test-results/
blob-report/
.lighthouseci/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editors
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
